
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>exit3</title>
</head>
<body>
    56246
    <div>
        @ViewBag.data3
        @ViewBag.data65
    </div>
</body>
</html>
